<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Flask</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="form-box animate">
            <h1>WELCOME TO FIRST FLASK!</h1>
            <form>
                <label for="name">Masukkan Nama:</label>
                <input type="text" id="name" placeholder="Enter your name">
                <button type="submit">Submit</button>
            </form>
            <a href="#" class="about-link">About</a>
        </div>
    </div>
</body>
</html>
